<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>FarmerRegistrationChecker</servlet-name>
        <servlet-class>controller.FarmerRegistrationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnector</servlet-name>
        <servlet-class>db.DBConnector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyerRegistrationChecker</servlet-name>
        <servlet-class>controller.BuyerRegistrationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FarmerLoginChecker</servlet-name>
        <servlet-class>controller.FarmerLoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyerLoginChecker</servlet-name>
        <servlet-class>controller.BuyerLoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFarmerProfile</servlet-name>
        <servlet-class>controller.UpdateFarmerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBuyerProfile</servlet-name>
        <servlet-class>controller.UpdateBuyerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FarmerLoginAuthenticator</servlet-name>
        <servlet-class>model.FarmerLoginAuthenticator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyerLoginAuthenticator</servlet-name>
        <servlet-class>model.BuyerLoginAuthenticator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTrade</servlet-name>
        <servlet-class>controller.CreateTrade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FarmerRegistrationChecker</servlet-name>
        <url-pattern>/FarmerRegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnector</servlet-name>
        <url-pattern>/DBConnector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyerRegistrationChecker</servlet-name>
        <url-pattern>/BuyerRegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FarmerLoginChecker</servlet-name>
        <url-pattern>/FarmerLoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyerLoginChecker</servlet-name>
        <url-pattern>/BuyerLoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFarmerProfile</servlet-name>
        <url-pattern>/UpdateFarmerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBuyerProfile</servlet-name>
        <url-pattern>/UpdateBuyerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FarmerLoginAuthenticator</servlet-name>
        <url-pattern>/FarmerLoginAuthenticator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyerLoginAuthenticator</servlet-name>
        <url-pattern>/BuyerLoginAuthenticator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTrade</servlet-name>
        <url-pattern>/CreateTrade</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
